.filters {
    //max-width: 1200px;
    //margin: 20px auto;
    //padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #3f51b5;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
    
  }
body{
    background-color: rgba(black, 0.6) !important;
}

html {
    margin:0px;
    height:100%;
    width:100%;
    background:url('https://static.playtech.ro/wp-content/uploads/2020/02/Netflix-Parasite.jpg') no-repeat center center fixed ; 

    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

  .movie {
  width: 300px;
  margin: 10px;
  height: 430px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgba(93, 26, 27, 0.417);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgba(200, 44, 44, 0.46);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }

  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;

  }

  &-name {
    vertical-align: top;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-genres {
    display: flex;
    color: #fff;
  }

  &-genre {
    width: 20px;
    color: #fff;
    margin-right: 10px;
  }

h1{
    background-color: white;
    margin: auto;
    width: 30%;
}
}
