

<div class="wrapper">
    <div class="image" ><img class="banner" src="{{movie?.image}}" ></div>
    <div class="table"> 
      <h1 class="title" >{{movie?.title}}</h1>
      <table class="DetailsTable">
        <tr>
          <th>Description</th>
          <th>Release</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td class="description" >{{movie?.description}}</td>
          <td class="bigFont" >{{movie?.release}}</td>
          <td class="bigFont">{{movie?.rating}}</td>
        </tr>
       
      </table></div>
  </div>